/* head */

.jumbotron{
    background-color: black;
    margin-top: 3%; 
}

/* body */

body{
    background: url("../images/hattipnologo.0.jpg") 
}

footer{
    margin-top: 1%;
    background: url(../images/8bb.png);
    padding: 6%;
    margin-left: 31%;
    margin-right: 37%;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    padding-bottom: 4%;
    padding-top: 7%;
    border: solid black;
}

p,
h1,
h2,
h3 {
    color: red;
    
    text-align: center;
}



#wordGuess,
h2 {
    color: black;
    margin-left:-3%;
}

p{
    margin-top: 19px;
    margin-bottom: 0
}
.card-header,
.card-body {
    margin: 0%;
    padding: 0%;
}

.card-title{
    
    font-size: 159%;
}

.word{
    margin-left: 33%;
    font-size: 428%;
}

